#header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 28px;
    background-color: $cor0;
    &-img{
        display: block;
        width: 75%;
    }
    &-btns{
        display: flex;
        flex-direction: column;
        &-btns-sacola{
            margin-bottom: 10px;
        }
    }
}
.header-btns-item{
    width: 30px;
}