.fem{
    &__titulo{
        font-size: 1.8em;
        margin: 24px 0 40px 0;
        text-align: center;
    }
    &__produtos{   
        &-list{
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-item{
            width: 200px;
            height: 260px;
            margin-bottom: 50px;
            justify-self: center;
        }
        &-btn{
            background-color: white;
            cursor: pointer;
            transition: all 100ms ease-in;
        }
        &-btn:hover{
            transform: scale(1.3);
            border-radius: 20px;
        }
        &-btn > img{
            transition: all 100ms ease-in-out;
        }
        &-btn > img:hover{
            transform: scale(0.9);
            border-radius: 10px;
        }
        &-item-name{
            font-size: 25px;
            margin-bottom: 4px;
        }
        &-item-price{
            margin-bottom: 10px;
        }
    }
    @media (min-width: 450px){
        .fem__produtos-list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
    }
    @media (min-width: $breakpoint-md){
        .fem__produtos-list{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
    @media (min-width: $breakpoint-xl){
        .fem__produtos-list{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }
    }
}