footer{
    background-color: $cor0;
    color: white;
    font-family: $fonte0;
    display: flex;
    flex-direction: column;
    .logo {
        padding-top: 25px;
        padding-bottom: 25px;

        &__image{
            width: 300px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
    .bloco1{
        display: flex;
        flex-direction: column;
        &__newsletter{
            &-title{
                font-size: 1.4em;
                font-weight: bold;
                text-align: center;
                margin: 0 auto;
                padding-bottom: 10px;
            }
            &-subtitle{
                font-size: 1em;
                text-align: center;
                padding-bottom: 20px;
            }
            &-input{
                width: 90%;
                height: 40px;
                display: block;
                margin: 0 auto 20px auto;
                background-color: transparent;
                border: 1px solid $cor2;
                border-radius: 6px;
                color: white;
                
                &::-webkit-input-placeholder{
                    color: white;
                    opacity: 40%;
                    font-style: italic;
                    text-align: center;
                }
                &::-moz-placeholder{
                    color: white;
                    opacity: 40%;
                    font-style: italic;
                    text-align: center;
                }
            }
            &-btn-cad{
                width: 125px;
                height: 35px;
                background-color: transparent;
                border: 1px solid $cor2;
                border-radius: 14px;
                color: white;
                font-style: italic;
                display: block;
                margin: 0 auto 60px auto;
                cursor: pointer;
            }
        }
        &__redes{
            display: flex;
            flex-direction: column;
            align-items: center;
            & ul {
                list-style: none;
            }
            & a{
                color: white;
                text-decoration: none;
            }
            & p {
                font-size: 1em;
            }
            & p::before{
                content: ' - ';
            }
            & img {
                width: 25px;
            }   
            &-title{
                font-size: 1.4em;
                text-align: center;
            }
            &-insta{
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                transition: all 150ms ease-in;
                &-txt{
                    margin-left: 5px;
                }
            }
            &-insta:hover, &-face:hover{
                transform: scale(1.2);
            }
            &-face{
                display: flex;
                align-items: center;
                margin-bottom: 45px;
                transition: all 150ms ease-in;
                &-txt{
                    margin-left: 5px;
                }
            }
        }
        hr{
            margin: 0 auto;
            width: 200px;
        }
    }
    .bloco2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        &__infs{
            display: flex;
            flex-direction: column;            
        }
        & ul{
            list-style: none;
        }
        & a{
            color: white;
            text-decoration: none;
            line-height: 35px;
        }
        & a:hover{
            text-decoration: underline;
        }
        & li::before{
            content: ' > ';
            color: $cor4;
        }
        & h2{
            font-size: 1.5em;
            margin-bottom: 40px;
        }
        &__ajuda{
            margin-top: 45px;
        }
        &__sobre{
            margin-top: 45px;
        }
        &__privacidade{
            margin-top: 45px;
        }
    }
    .foot{
        background-color: $cor4;
        & p{
            font-size: 0.82em;
            text-align: center;
        }
        & a{
            color: white;
        }
    }
    @media (min-width: $breakpoint-sm){
        .bloco2__infs{
                width: 98vw;
                flex-direction: row;
                justify-content: space-around;
        }
    } 
    @media (min-width: $breakpoint-md){
        .bloco1__newsletter-input{
            width: 500px;
        }
        .foot{
            & p{
                padding: 5px;
                font-size: 1em;
            }
        }
    }
}