footer{
    // clear: both;
    background-color: $cor0;
    color: white;
    font-family: $fonte0;
    //position: relative;


    .logo {
        padding-top: 25px;
        padding-bottom: 25px;

        &__image{
            width: 300px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }

    .bloco1{
        &__newsletter{
            &-title{
                width: 220px;
                font-size: 1.4em;
                font-weight: bold;
                text-align: center;
                margin: 0 auto;
                padding-bottom: 10px;
            }
            &-subtitle{
                font-size: 1em;
                text-align: center;
                padding-bottom: 20px;
            }
            &-input{
                width: 240px;
                height: 20px;
                display: block;
                margin: 0 auto 20px auto;
                background-color: transparent;
                border: 1px solid $cor2;
                border-radius: 4px;
                
                &::-webkit-input-placeholder{
                    color: white;
                    opacity: 35%;
                    font-style: italic;
                    text-align: center;
                }
                &::-moz-placeholder{
                    color: white;
                    opacity: 35%;
                    font-style: italic;
                    text-align: center;
                }
            }
            &-btn-cad{
                width: 95px;
                height: 35px;
                background-color: transparent;
                border: 1px solid $cor2;
                border-radius: 14px;
                color: white;
                font-style: italic;
                display: block;
                margin: 0 auto 60px auto;
            }
        }
        &__redes{
            & ul {
                list-style: none;
            }
            & a{
                color: white;
                text-decoration: none;
            }
            & p {
                font-size: 1em;
            }
            & p::before{
                content: ' - ';
            }
            & img {
                width: 25px;
            }   
            &-title{
                font-size: 22px;
                text-align: center;
            }
            &-insta{
                padding: 10px;
                position: relative;
                &-txt{
                    position: absolute;
                    top: 15px;
                    left: 40px;
                }
            }
            &-face{
                padding: 10px;
                position: relative;
                margin-bottom: 45px;
                &-txt{
                    position: absolute;
                    top: 15px;
                    left: 40px;
                }
            }
        }
        &__separacao{
            width: 280px;
            height: 1px;
            margin: 0 auto;
            background-color: black;
        }
    }
    .bloco2{
        padding-bottom: 100px;
        & ul{
            list-style: none;
        }
        & a{
            color: white;
            text-decoration: none;
            line-height: 35px;
        }
        & a:hover{
            text-decoration: underline;
        }
        & li::before{
            content: ' > ';
            color: $cor4;
        }
        & h2{
            font-size: 1.5em;
            margin-bottom: 40px;
        }
        &__ajuda{
            width: 185px;
            margin: 40px auto 60px auto;
        }
        &__sobre{
            width: 185px;
            margin: 0 auto 60px auto;
        }
        &__privacidade{
            width: 185px;
            margin: 0 auto 60px auto;
        }
    }
    .foot{
        background-color: $cor4;
        & p{
            font-size: 0.82em;
            text-align: center;
        }
        & a{
            color: white;
        }
    }
}