.masculino{
    text-align: center;

    &__produtos{
        padding-top: 20px;
    }
    .linha{
        width: 300px;
        margin: 0 auto;
        background-color: black;
    }
    .grid{
        margin-top: 30px;
    }

    &__produtos-item{
        margin-top: 24px;
        list-style: none;
    }

    &__titulo{
        font-size: 26px;
        font-weight: bold;
    }

    &__produtos-item{
        width: 200px;
        height: 300px;
        margin: auto;
        margin-bottom: 30px;
    }
    
    &__produtos-btn{
        background-color: white;
        border: none;
        cursor: pointer;
        transition: all 100ms ease-in;
        position: relative;
    }

    &__produtos-btn:hover{
        transform: scale(1.3);
        background-color: $cor1-trans;
        border-radius: 20px;
        border: none;
    }

    &__produtos-btn > img{
        transition: all 100ms ease-in-out;
    }

    &__produtos-btn > img:hover{
        transform: scale(0.9);
        border-radius: 10px;
    }

    &__produtos-item-name{
        font-size: 25px;
        margin-bottom: 4px;
    }

    &__produtos-item-price{
        margin-bottom: 10px;
    }
    @media (min-width: $breakpoint-md){
        .grid{
            padding: 80px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    @media (min-width: $breakpoint-lg){
        .grid{
            padding: 100px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    @media (min-width: $breakpoint-xl){
        .grid{
            padding: 25px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .masculino{
            &__produtos-item{
                margin: 24px 30px;
                list-style: none;
            }
        }
    }
}