.nav {
    position: relative;
    display: flex;
    height: 50px;
    background-color: $cor1;
    color: white;
    font-family: $fonte0;
    font-size: 1em;
    &__links{
        display: flex;
        align-items: center;
    }
    &__promo{
        margin-left: 10px;
        margin-right: 10px;
    }
    a{
        color: white;
        text-decoration: none; 
        transition: all 150ms ease-in;
    }
    a:hover{
        color: rgba(255, 255, 255, 0.712);
        text-decoration: underline; 
    }
    img {
        //display: none;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 25px;
        height: auto;
        cursor: pointer;
        transition: all 100ms ease-in;
        &:hover{
            opacity: 70%;
        }
    }
    &__pesquisa{
        display: none;
        position: absolute;
        right: 5px;
        top: 15px;
        height: 50px;
        color: white;
        &__input{
            background-color: $cor1;
            border: none;
            border-bottom: 1px solid white;
            font-family: $fonte0;
        }
        #search-product{
            width: 270px;
        }
        #search-product::-webkit-input-placeholder{
            font-family: $fonte0;
            font-style: italic;
        }
        #search-product::-moz-placeholder{
            font-family: $fonte0;
            font-style: italic;
        }
    }
}