.fem__titulo,
.mas__titulo{
    font-size: 1.8em;
    margin: 24px 0 40px 0;
    text-align: center;
} 
.produtos{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-item{
        width: 200px;
        height: 260px;
        margin-bottom: 50px;
        justify-self: center;
    }
    &-btn{
        background-color: white;
        cursor: pointer;
        transition: all 100ms ease-in;
    }
    &-btn:hover{
        transform: scale(1.2);
        border-radius: 20px;
    }
    &-btn > img{
        transition: all 100ms ease-in-out;
    }
    &-btn > img:hover{
        transform: scale(0.9);
        border-radius: 10px;
    }
    &-item-name{
        font-size: 25px;
        margin-bottom: 4px;
    }
    &-item-price{
        margin-bottom: 10px;
    }
}
@media (min-width: $breakpoint-md){
    .produtos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
}
@media (min-width: $breakpoint-xl){
    .produtos{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}