@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');

$font0: 'Trebuchet MS', serif;

$tam0: 14px;
$tam1: 15px;
$tam2: 18px;
$tam3: 24px;
$tam4: 28px;
$tam5: 34px;
$tam6: 40px;